@charset "UTF-8";

.txt-link { text-decoration: underline !important; }
.font-bold { font-weight: bold !important; }
.is-fixed { position: fixed !important; }
.is-disable { pointer-events: none !important; }
.txt-of {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pos-abs { position: absolute !important; }
.pos-rel { position: relative !important; }
.d-none { display: none !important; }
.d-ib { display: inline-block !important; }
.d-b { display: block !important; }
.d-tbl { display: table !important; }
.of-hidden { overflow: hidden !important; }
.pe-n { pointer-events: none; }
.fl-l { float: left !important; }
.fl-r { float: right !important; }
.m-lr-auto { margin-left: auto !important; margin-right: auto !important; }