@charset "UTF-8";

/*
 Extention
---------------------------------------------------------------------------*/

@mixin clrfx() {
  content: '';
  display: block;
  clear: both;
}

@mixin txt-of() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
  Site default
---------------------------------------------------------------------------*/

img {
  /* max-width: 100%; */
  height: auto;
  width: 100%;
}

::selection {
  background-color: #e3e5ed;
}

@media only screen and #{$pc} {
  a:hover {
    opacity: 0.75;
  }
}

/*
  Layout
---------------------------------------------------------------------------*/

.site-container {
  background-image: image-url('base/bg.png');
  color: $BASE_TXT_COLOR;
  line-height: $BASE_LINE_HEIGHT;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
  position: relative;
}
@media only screen and #{$pc} {
  .site-container {
    @include font-size(14);
    min-width: $PC_BASE_WIDTH;
  }
}
@media only screen and #{$sp} {
  .site-container {
    @include font-size(12);
    background-size: image-width('base/bg.png')/2 image-height('base/bg.png')/2;
  }
}

.site-body {
  /*padding-top: 49px;*/
}

@media only screen and #{$pc} {
  .site-contents {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: $PC_BASE_WIDTH;
  }
}
@media only screen and #{$sp} {
  .site-contents {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.site-main {
}
@media only screen and #{$pc} {
  .site-main {
    float: left;
    width: 630px;
  }
}

/*
 Section
---------------------------------------------------------------------------*/

@media only screen and #{$pc} {
  .sec {
    margin-bottom: 30px;
  }
  .sec-rel {
    width: 299px;
  }
  .sec-rcmmnd {
    margin-top: 40px;/* @FIX_ME 暫定 */
  }
}
@media only screen and #{$sp} {
  .sec {
    margin-bottom: 20px;
  }
  .sec-rcmmnd {
    margin-top: 20px;/* @FIX_ME 暫定 */
  }
}

/*
 Scroller
---------------------------------------------------------------------------*/

@media only screen and #{$pc} {
  .site-scroller {
    clear: both;
    float: right;
    /*margin-top: 72px;*/
    text-align: center;
    width: 300px;

    &.is-ctsm {
      /*margin-top: -66px;*/
    }
  }
  .site-scroller-a {
    border-bottom: 1px solid #bdc4e2;
    display: inline-block;
    @include font-size(10);
    padding-top: 9px;
    padding-bottom: 9px;
    width: 200px;
  }
  .site-scroller-a-icon {
    margin-right: 8px;
  }
}
@media only screen and #{$sp} {
  .site-scroller {
    display: none;
  }
}

/*
 grid
---------------------------------------------------------------------------*/

/*
.tl-grid-2 {
  .sec {
    width: auto;
  }
}
@media #{$breakpoint-pc} {
  .tl-grid-2 {
    .sec {
      width: 299px;
    }
  }
}
*/

/*
 h　(共通部分か判断がつかないので、一旦ここで)
---------------------------------------------------------------------------*/

.sec-h {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -1px;
  }
}
.sec-h-mask {
  display: block;
}
.sec-h-txt {
  @include font-size(19);
  font-weight: bold;
  margin-right: 5px;
}
.sec-h-icon {
  margin-right: 10px;
}
.sec-h-icon02 {
  margin-left: 12px;
}
.sec-h-sub {
  @include font-size(10);
}

@media only screen and #{$sp} {
  .sec-h {
    margin-bottom: 12px;
  }
}
@media only screen and #{$pc} {
  .sec-h {
    margin-bottom: 17px;
  }
  .sec-h-mask {
    min-height: 32px;
  }
}

.sec-misc-h {
  border-bottom: 1px solid #bdc4e2;
  color: #2d2e32;
  &:after {
    background-color: #2d2e32;
  }
}
@media only screen and #{$pc} {
  .sec-misc-h {
    .sec-h-icon02 {
      @include sprite-bg($pc-base-sprites,'misc_h_icon02',null,1);
    }
  }
}
@media only screen and #{$sp} {
  .sec-misc-h {
    .sec-h-icon02 {
      @include sprite-bg($base-sprites,'misc_h_icon02');
    }
  }
}

@media only screen and #{$pc} {
  .sec-rel-h {
    border-bottom: 1px solid #aaadb7;
    color: #fff;

    &:after {
      background-color: #fff;
    }
  }
}

/*
 Breadcrumbs
---------------------------------------------------------------------------*/

@media only screen and #{$pc} {
  .site-bc {
    margin-bottom: 25px;/* 10 */
  }
  .site-bc-inner {
    margin-left: auto;
    margin-right: auto;
    width: $PC_BASE_WIDTH;
  }
  .site-bc-i {
    @include font-size(14);
    display: inline-block;

    &.is-active {
      font-weight: bold;
    }
    + .site-bc-i {
      background: image-url('pc/base/bc_icon.png') no-repeat left center;
      padding-left: image-width('sp/base/bc_icon.png');
    }
    &:first-child {
      .site-bc-a {
        padding-left: 0;
      }
    }
  }
  .site-bc-a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .site-bc-a,
  .site-bc-i-crrnt {
    padding-left: 17px;
    padding-right: 17px;
  }
  .site-bc-i-crrnt {
    font-weight: bold;
  }
}
@media only screen and #{$sp} {
  .site-bc {
    margin-top: 20px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .site-bc-i {
    display: inline-block;
    + .site-bc-i {
      background: image-url('sp/base/bc_icon.png') no-repeat left center;
      @include background-size(image-width('sp/base/bc_icon.png')/2 image-height('sp/base/bc_icon.png')/2);
      padding-left: image-width('sp/base/bc_icon.png')/2;
    }

    &:first-child {
      .site-bc-a {
        padding-left: 0;
      }
    }
  }
  .site-bc-a,
  .site-bc-i-crrnt {
    padding-left: 11px;
    padding-right: 11px;
  }
  .site-bc-i-crrnt {
    font-weight: bold;
  }
}

/*
 local module
---------------------------------------------------------------------------*/

/* body */
@media only screen and #{$pc} {
  .tl-bdy-txt-l {
    /*font-size: 114.29%;*/
    @include font-size(16);
    line-height: 1.65;
  }
}
@media only screen and #{$sp} {
  .tl-bdy-txt-l {
    /*font-size: 108.33%;*/
    @include font-size(13);
    line-height: 1.85;
  }
}

/* ページャー */
@media only screen and #{$pc} {
  .tl-pager {
    margin-top: 44px;
  }
  .tl-pager-sum {
    @include font-size(16);
    margin-bottom: 30px;
  }
  .tl-pager-list {
    text-align: center;
  }
  .tl-pager-list-i,
  .tl-pager-list-first,
  .tl-pager-list-prev,
  .tl-pager-list-prevdot,
  .tl-pager-list-nextdot,
  .tl-pager-list-next,
  .tl-pager-list-last {
    @include font-size(18);
    display: inline-block;
    vertical-align: middle;
  }
  .tl-pager-list-i + .tl-pager-list-i {
    margin-left: 44px;
  }
  .tl-pager-list-prevdot {
    margin-right: 23px;
  }
  .tl-pager-list-first {
    margin-right: 15px;
  }
  .tl-pager-list-prev {
    margin-right: 27px;
  }
  .tl-pager-list-nextdot {
    margin-left: 23px;
  }
  .tl-pager-list-next {
    margin-left: 27px;
  }
  .tl-pager-list-last {
    margin-left: 15px;
  }
  .tl-pager-list-crrnt {
    font-weight: bold;
  }
  .tl-pager-list-first-a,
  .tl-pager-list-prev-a,
  .tl-pager-list-next-a,
  .tl-pager-list-last-a {
    display: block;
  }
  .tl-pager-list-first-a {
    @include sprite-bg($pc-base-sprites,'pager_icon_first',true,1);
  }
  .tl-pager-list-prev-a {
    @include sprite-bg($pc-base-sprites,'pager_icon_prev',true,1);
  }
  .tl-pager-list-next-a {
    @include sprite-bg($pc-base-sprites,'pager_icon_next',true,1);
  }
  .tl-pager-list-last-a {
    @include sprite-bg($pc-base-sprites,'pager_icon_last',true,1);
  }
}
@media only screen and #{$sp} {
  .tl-pager {
    margin-top: 20px;
  }
  .tl-pager-sum {
    @include font-size(11);
    margin-bottom: 20px;
  }
  .tl-pager-list {
    text-align: center;
  }
  .tl-pager-list-i,
  .tl-pager-list-first,
  .tl-pager-list-prev,
  .tl-pager-list-prevdot,
  .tl-pager-list-nextdot,
  .tl-pager-list-next,
  .tl-pager-list-last {
    @include font-size(13);
    display: inline-block;
    vertical-align: middle;
  }
  .tl-pager-list-i + .tl-pager-list-i {
    margin-left: 15px;
  }
  .tl-pager-list-first {
    margin-right: 15px;
  }
  .tl-pager-list-prev,
  .tl-pager-list-prevdot {
    margin-right: 15px;
  }
  .tl-pager-list-nextdot,
  .tl-pager-list-next {
    margin-left: 15px;
  }
  .tl-pager-list-last {
    margin-left: 15px;
  }
  .tl-pager-list-crrnt {
    font-weight: bold;
  }
  .tl-pager-list-first-a,
  .tl-pager-list-prev-a,
  .tl-pager-list-next-a,
  .tl-pager-list-last-a {
    display: block;
  }
  .tl-pager-list-first-a {
    @include sprite-bg($base-sprites,'pager_icon_first',true);
  }
  .tl-pager-list-prev-a {
    @include sprite-bg($base-sprites,'pager_icon_prev',true);
  }
  .tl-pager-list-next-a {
    @include sprite-bg($base-sprites,'pager_icon_next',true);
  }
  .tl-pager-list-last-a {
    @include sprite-bg($base-sprites,'pager_icon_last',true);
  }
}

/* メインビジュアル */
@media only screen and #{$pc} {
  .tl-vis {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: $PC_BASE_WIDTH;
  }
}
@media only screen and #{$sp} {
  .tl-vis {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* 見出し */

.tl-h {
  border-bottom: 2px solid $BASE_BD_COLOR;

  &.is-tag {
    .tl-h-txt {
      @include txt-of();
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &.is-search {
    .tl-h-txt {
      @include txt-of();
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &.is-info {
    border-bottom-color: $INFO_COLOR;

    .tl-h-txt,
    .tl-h-sub,
    .tl-h-txt2 {
      color: $INFO_COLOR;
    }
  }

  &.is-goods {
    border-bottom-color: $GOODS_COLOR;

    .tl-h-txt,
    .tl-h-sub,
    .tl-h-txt2 {
      color: $GOODS_COLOR;
    }
  }

  &.is-ppl {
    border-bottom-color: $PPL_COLOR;

    .tl-h-txt,
    .tl-h-sub,
    .tl-h-txt2 {
      color: $PPL_COLOR;
    }
  }

  &.is-guide {
    border-bottom-color: $GUIDE_COLOR;

    .tl-h-txt,
    .tl-h-sub,
    .tl-h-txt2 {
      color: $GUIDE_COLOR;
    }
  }
}
.tl-h-mask {
  display: block;
}
.tl-h-span {
  color: #d0d0d0;
}

@media only screen and #{$pc} {
  .tl-h {
    margin-bottom: 24px;
    padding-bottom: 3px;

    &.is-tag {
      .tl-h-txt {
        width: 15em;
      }
    }
    &.is-search {
      .tl-h-txt {
        width: 25em;
      }
    }
  }
  .tl-h-icon {
    /*@include sprite-bg($pc-base-sprites,'icon_mochief',null,1);*/
    margin-right: 9px;
    margin-bottom: -2px;
  }
  .tl-h-txt {
    @include font-size(20);
    font-weight: bold;
  }
  .tl-h-span {
    margin-left: 14px;
    margin-right: 14px;
  }
  .tl-h-txt2 {
    @include font-size(17);
    font-weight: bold;
  }
  .tl-h-sub {
    @include font-size(10);
    margin-left: 13px;
  }

  //全体的にサイズを上げる(暫定対応)
  .tl-bdy-txt-l {
    .tl-h-txt {
      @include font-size(22);
    }
    .tl-h-txt2 {
      @include font-size(19);
    }
    .tl-h-sub {
      @include font-size(12);
    }
  }
}
@media only screen and #{$sp} {
  .tl-h {
    margin-bottom: 15px;

    &.is-tag,
    &.is-search {
      .tl-h-txt {
        width: 15em;
      }
    }
  }
  .tl-h-icon {
    margin-right: 9px;
  }
  .tl-h-txt {
    @include font-size(16);/* 19 */
    font-weight: bold;
  }
  .tl-h-span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .tl-h-txt2 {
    @include font-size(11);
  }
  .tl-h-sub {
    @include font-size(10);
    margin-left: 10px;/* 16 */
  }

  //全体的にサイズを上げる(暫定対応)
  .tl-bdy-txt-l {
    .tl-h-txt {
      @include font-size(19);
    }
    .tl-h-txt2 {
      @include font-size(14);
    }
    .tl-h-sub {
      @include font-size(13);
    }
  }
}

/* 見出し2 */
@media only screen and #{$pc} {
  .tl-h2 {
    @include font-size(16);
    font-weight: bold;
    margin-bottom: 8px;
  }

  //全体的にサイズを上げる
  .tl-bdy-txt-l {
    .tl-h2 {
      @include font-size(20);
    }
  }
}
@media only screen and #{$sp} {
  .tl-h2 {
    @include font-size(13);
    font-weight: bold;
    margin-bottom: 8px;
  }
  //全体的にサイズを上げる
  .tl-bdy-txt-l {
    .tl-h2 {
      @include font-size(15);
    }
  }
}

/* コンテンツ */;
@media only screen and #{$pc} {

}
@media only screen and #{$sp} {
  .tl-cntnt {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tl-cntnt2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* テーブル状レイアウト */
.tl-tbl {
  display: table;
}
.tl-tbl-tr {
  display: table-row;
}
.tl-tbl-th {
  font-weight: bold;
  white-space: nowrap;
}
.tl-tbl-th,
.tl-tbl-td {
  display: table-cell;
}
@media only screen and #{$pc} {
}
@media only screen and #{$sp} {
}

/* タグ */
.tl-tag {
  clear: both;
  /*margin-bottom: -5px; なんだこれ? */
  overflow: hidden;
}
.tl-tag-icon {
  float: left;
  margin-right: 10px;
}
.tl-tag-list {
  overflow: hidden;
  line-height: 1;
}
.tl-tag-list-i {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 7px;
}
.tl-tag-list-a {
  background-color: #fefefe;
  border: 1px solid #b2b5c0;
  border-radius: 3px;
  color: #798096;
  display: inline-block;
  @include font-size(11);
  padding: 0.27em 7px;
  text-align: center;
  max-width: 15em;
  vertical-align: middle;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and #{$pc} {
  .tl-tag-icon {
    @include sprite-bg($pc-base-sprites,'icon_tag',true,1);
  }
}
@media only screen and #{$sp} {
  .tl-tag-icon {
    @include sprite-bg($base-sprites,'icon_tag',true);
  }
}

/* 引用文 */
.tl-q {
  background-image: image-url('base/bg02.png');
  border-radius: 4px;
  font-style: italic;
  position: relative;
}
@media only screen and #{$pc} {
  .tl-q {
    padding: 32px 50px;

    &:before,
    &:after {
      content: '';
      @include sprite-base-bg($pc-base-sprites, $pc-base-sprites-img, 1);
      display: block;
      position: absolute;
    }
    &:before {
      @include sprite-bg($pc-base-sprites,'q_bg',true,1);
      left: 15px;
      top: 20px;
    }
    &:after {
      @include sprite-bg($pc-base-sprites,'q_bg02',true,1);
      right: 15px;
      bottom: 20px;
    }
  }
}
@media only screen and #{$sp} {
  .tl-q {
    @include background-size(image-width('base/bg02.png')/2 auto);
    padding: 17px 25px;

    &:before,
    &:after {
      content: '';
      @include sprite-base-bg($base-sprites, $base-sprites-img);
      display: block;
      position: absolute;
    }
    &:before {
      @include sprite-bg($base-sprites,'q_bg');
      left: 10px;
      top: 10px;
    }
    &:after {
      @include sprite-bg($base-sprites,'q_bg02');
      right: 10px;
      bottom: 10px;
    }
  }
}

/* SNSブロック */
.sns {
}
.sns-h {
  font-weight: bold;
}
.sns-list {
  display: table;
  width: 100%;
  line-height: 1;
}
.sns-list-i {
  display: table-cell;
  width: 25%;
  vertical-align: top;
}
.sns-list-a {
  display: block;
}
.sns-icon {
  vertical-align: middle;
}
.sns-txt {
  font-weight: bold;
  font-style: italic;
}
.sns-txt-tw {
  color: #00b4f4;
}
.sns-txt-fb {
  color: #3c5998;
}
.sns-txt-google {
  color: #e14d2a;
}
.sns-txt-tumblr {
  color: #2e435d;
}
@media only screen and #{$pc} {
  .sns-h {
    @include font-size(16);
    margin-bottom: 16px;
  }
  .sns-txt {
    @include font-size(16);
    margin-left: 11px;
  }
  .sns-icon-tw {
    @include sprite-bg($pc-base-sprites,'sns_icon_tw',true,1);
  }
  .sns-icon-fb {
    @include sprite-bg($pc-base-sprites,'sns_icon_fb',true,1);
  }
  .sns-icon-google {
    @include sprite-bg($pc-base-sprites,'sns_icon_google',true,1);
  }
  .sns-icon-tumblr {
    @include sprite-bg($pc-base-sprites,'sns_icon_tumblr',true,1);
  }
}
@media only screen and #{$sp} {
  .sns-h {
    @include font-size(12);
    margin-bottom: 10px;
  }
  .sns-icon-tw {
    @include sprite-bg($base-sprites,'sns_icon_tw',true);
  }
  .sns-icon-fb {
    @include sprite-bg($base-sprites,'sns_icon_fb',true);
  }
  .sns-icon-google {
    @include sprite-bg($base-sprites,'sns_icon_google',true);
  }
  .sns-icon-tumblr {
    @include sprite-bg($base-sprites,'sns_icon_tumblr',true);
  }
  .sns-txt {
    @include font-size(11);
    margin-left: 11px;
  }
  .sns-txt-unit {
    display: none;
  }
}

/* Article(記事用パーツ) */
.artcl + .artcl {
  margin-top: 10px;
}
.artcl:after {
  @include clrfx();
}
.artcl-mask {
  display: block;
  &:after {
    @include clrfx();
  }
}
.artcl-fgr {
  float: left;
  display: block;
  margin-right: 8px;
  overflow: hidden;
}
.artcl-fgr a { /* @FIX_ME */
  display: block;
}
.artcl-body {
  overflow: hidden;
  position: relative;
  @include box-sizing(border-box);
}
.artcl-h {/* @FIX_ME デフォルトテキストは共通化しない */
  @include font-size(13);
  font-weight: bold;
}
.artcl-h-inner {
  @include txt-of(); /* @FIX_ME */
  display: block;
}
.artcl-date {/* @FIX_ME デフォルトテキストは共通化しない */
  display: block;
  @include font-size(10);
  font-style: italic;
}
/* レイアウト用クラス */
.artcl-grd {
}

/* @FIX_ME タグを分離 */
@media only screen and #{$pc} {
  .artcl-more {
    display: none;
  }
  .artcl-grd {
    overflow: hidden;
  }
  .artcl-tag {
  }
}
@media only screen and #{$sp} {
  .artcl-tag {
    display: none;
  }
  .artcl-more {
    display: block;
    float: right;
    margin-top: 3px;

    &:after {
      @include clrfx();
    }
  }
  .artcl-more-icon {
    margin-right: 5px;
    @include sprite-bg($base-sprites,'artcl_more_icon');
  }
}

/* large article */
.artcl-l {
  border-bottom: 2px solid $BASE_BD_COLOR;
  .artcl-h {
    line-height: 1.1;
  }
  .artcl-date {
    display: block;
    @include box-sizing(border-box);
  }
  .artcl-dsc {
    overflow: hidden;
  }
}
@media only screen and #{$pc} {
  .artcl-l {
    margni-bottom: 10px;
    padding-bottom: 0;

    .artcl-body {
      /*min-height: 153px;*/
      padding-bottom: 33px;
    }
    .artcl-fgr {
      height: 164px;
      float: none;
      margin-right: 0;
      margin-bottom: 12px;
    }
    .artcl-h {
      @include font-size(14);
      font-weight: bold;
      margin-bottom: 12px;
    }
    .artcl-h-inner {
      width: 17em;
    }
    .artcl-date {
      border-top: 1px solid #ccc;
      bottom: 0;
      color: #515153;
      font-size: inherit;
      height: 34px;
      width: 100%;
      left: 0;
      margin-bottom: 0;
      padding-top: 8px;
      position: absolute;
    }
    .artcl-dsc {
      height: $BASE_LINE_HEIGHT * 3em;
      margin-bottom: 16px;
    }
  }
}
@media only screen and #{$sp} {
  .artcl-l {
    padding-bottom: 14px;//[FIX]
    .artcl-fgr {
      width: 114px;
    }
    .artcl-h {
      margin-bottom: 3px;
    }
    .artcl-h-inner {
      width: 11em;
    }
    .artcl-date {
      margin-bottom: 3px;
    }
    .artcl-dsc {
      height: $BASE_LINE_HEIGHT * 5em;
    }
  }
}

/* small article */
.artcl-s {
  .artcl-h {
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    padding-top: 2px;
    padding-bottom: 5px;
  }
}
@media only screen and #{$pc} {
  .artcl-s {
    +.artcl-s {
      margin-top: 17px;
    }
    .artcl-body {
      padding-top: 10px;
    }
    .artcl-h {
    }
    .artcl-h-inner {
      width: 13em;
    }
    .artcl-fgr {
      margin-right: 11px;
      width: 70px;
    }
  }
}
@media only screen and #{$sp} {
  .artcl-h-inner {
    width: 11em;
  }
}

/* small article2 */
.artcl-s2 {
  .artcl-h {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
  }
  .artcl-h-inner {
  }
  .artcl-ct {
    &.is-info {
      color: $INFO_COLOR;
    }
    &.is-goods {
      color: $GOODS_COLOR;
    }
    &.is-ppl {
      color: $PPL_COLOR;
    }
    &.is-guide {
      color: $GUIDE_COLOR;
    }
  }
  .artcl-dsc {
    height: 2em * $BASE_LINE_HEIGHT;/* PC,SP兼用 */
    overflow: hidden;
  }
}
@media only screen and #{$pc} {
  .artcl-s2 {
    +.artcl-s2 {
      margin-top: 17px;
    }
    .artcl-body {
    }
    .artcl-h {
      @include font-size(14);
    }
    .artcl-fgr {
      margin-right: 11px;
      width: 114px;
    }
    .artcl-date,
    .artcl-ct,
    .artcl-dsc {
      @include font-size(12);
    }
    .artcl-ct {
      float: left;
      margin-top: 6px;
    }
    .artcl-date {
      float: right;
      margin-top: 6px;
    }
    .artcl-tag {
      margin-top: 6px;
    }
  }
}
@media only screen and #{$sp} {
  .artcl-s2 {
    +.artcl-s2 {
      margin-top: 17px;
    }
    .artcl-body {
    }
    .artcl-h {
    }
    .artcl-h-inner {
      width: 11em;
    }
    .artcl-fgr {
      margin-right: 11px;
      width: 75px;
    }
    .artcl-ct,
    .artcl-dsc {
      @include font-size(11);
    }
  }
}

/* ピックアップ */
@media only screen and #{$pc} {
  .sec-pickup {
    .artcl {
      float: left;
    }
    .artcl-s {
      +.artcl-s {
        margin-top: 0;
        margin-left: 15px;
      }
      .artcl-fgr {
        height: 114px;
        width: 114px;
      }
    }
    .artcl-fgr {
      margin-right: 0;
    }
    .artcl-body {
      display: none;
    }
  }
}

/*
 Module
---------------------------------------------------------------------------*/

@media only screen and #{$sp} {
  .d-pc {
    display: none !important;
  }
}
@media only screen and #{$pc} {
  .d-sp {
    display: none !important;
  }
}

/* 基本マージン */
@media only screen and #{$pc} {
  .tl-mb1 {
    margin-bottom: 20px;
  }
  .tl-mb2 {
    margin-bottom: 30px;
  }
  .tl-mt3 {
    margin-top: 50px;
  }
}
@media only screen and #{$sp} {
  .tl-mb1 {
    margin-bottom: 15px;
  }
  .tl-mb2 {
    margin-bottom: 25px;
  }
  .tl-mt3 {
    margin-top: 40px;
  }
}

.m-t-0 {
  margin-top: 0 !important;
}

/* 太字 */
.tl-bold {
  font-weight: bold;
}

/* リンクテキスト */
.tl-txt-link {
  text-decoration: underline;
}
@media only screen and #{$pc} {
  .tl-txt-link:hover {
    opacity: 1;
    text-decoration: none;
  }
}

/* リスト */
.tl-list-disc {
  list-style-type: disc;
  padding-left: 1.5em;
}
.tl-list-decimal {
  list-style-type: decimal;
  padding-left: 1.5em;
}

/* インデント */
.tl-txt-indent {
  padding-left: 1em;
}
.tl-word-indent {
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

.cf:after {
  @include clrfx();
}

