@charset "UTF-8";

/*
 Footer
---------------------------------------------------------------------------*/

.site-footer {
}
.site-footer-nav-a {
  color: #fff;
  display: block;
  line-height: 1;
}
.site-footer-cp {
  color: #fff;
  @include font-size(12);
}

@media only screen and #{$sp} {
  .site-footer {
    background-color: #42454e;
    padding-top: 44px;
  }
  .site-footer-nav {
    background: image-url('base/ft_nav_i_bg.png') repeat-x left top;
    background-size: 1px auto;
    padding-top: 2px;
  }
  .site-footer-nav-i {
    background: image-url('base/ft_nav_i_bg.png') repeat-x left bottom;
    background-size: 1px auto;
    padding-bottom: 2px;
  }
  .site-footer-nav-a {
    @include font-size(12);
    font-weight: bold;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .site-footer-nav-a-icon {
    margin-right: 8px;
    @include sprite-bg($base-sprites,'ft_nav_icon');
  }
  .site-footer-misc {
    height: 76px;
    padding-top: 42px;
  }
  .site-footer-scrllr {
    text-align: center;
  }
  .site-footer-scrllr-icon {
    margin-right: 6px;
    vertical-align: middle;
  }
  .site-footer-scrllr-txt {
    color: #fff;
    @include font-size(14);
    vertical-align: middle;
  }
  .site-footer-cp {
    text-align: center;
    margin-top: 6px;
  }
}
@media only screen and #{$pc} {
  .site-footer {
    background-color: #595b60;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .site-footer-inner {
    margin-left: auto;
    margin-right: auto;
    width: $PC_BASE_WIDTH;
  }
  .site-footer-nav {
    float: right;
  }
  .site-footer-nav-i {
    float: left;
    & + .site-footer-nav-i {
      margin-left: 20px;
    }
  }
  .site-footer-nav-a {
    @include font-size(12);
    text-decoration: underline;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .site-footer-nav-a-icon {
    display: none;
  }
  .site-footer-scrllr {
    display: none;
  }
}
