@charset "UTF-8";

/*
 Site relations
---------------------------------------------------------------------------*/

@media only screen and #{$pc} {
  .site-rel {
    background-color: #42454e;
    margin-top: 31px;
  }
  .site-rel-inner {
    @include box-sizing(border-box);
    margin-left: auto;
    margin-right: auto;
    min-height: 366px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: $PC_BASE_WIDTH;
  }

  .sec-rel  {
    float: left;
    margin-bottom: 0;

    + .sec-rel {
      margin-left: 31px;
    }

    .artcl-h,
    .artcl-date {
      color: #fff;
    }
  }
}
@media only screen and #{$sp} {
.site-rel {
    display: none;
  }
}