@charset "UTF-8";

/*
 Global Navigation(SP)
---------------------------------------------------------------------------*/

@media #{$pc} {
  .sp-site-nav-lyr {
    display: none;
  }
}
@media #{$sp} {
  .sp-site-nav-lyr {
    opacity: 0;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    @include backface-visibility(hidden);

    &.is-ready {
      left: -100%;
    }
    &.is-in {
      opacity: 1;
    }
  }
  .sp-site-nav {
    @include box-sizing(border-box);
    height: 100%;
    padding: 55px 15px 15px;
    position: relative;
    -webkit-transition:
      -webkit-transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    @include backface-visibility(hidden);

    &.is-ready {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
    &.is-in {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  .sp-site-nav-closer {
    @include sprite-bg($base-sprites,'gnav_closer',true);
    position: absolute;
    right: 18px;
    top: 10px;
  }
  .sp-site-nav-bdy {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .sp-site-nav-i {
    &:last-child {
      .sp-site-nav-i-a {
        border-bottom: none;
      }
    }
  }
  .sp-site-nav-i-a {
    @include box-sizing(border-box);
    background-color: #42454e;
    -webkit-box-align: center;
    border-bottom: 1px solid #a7aab4;
    color: #fff;
    display: -webkit-box;
    @include font-size(14);
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
  }

  /* sub navigation */
  .sp-site-nav-gllry-sub {
    /*display: none;*/
  }

  .sp-site-nav-sub-i {
    & + .sp-site-nav-sub-i {
      border-top: 1px solid #626a81;
    }
  }

  .sp-site-nav-sub-i-a {
    @include box-sizing(border-box);
    background-color: #ebebeb;
    -webkit-box-align: center;
    color: #42454e;
    @include font-size(12);
    display: -webkit-box;
    height: 42px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .sp-site-nav-artcl-sub-info-a,
  .sp-site-nav-artcl-sub-goods-a,
  .sp-site-nav-artcl-sub-ppl-a,
  .sp-site-nav-artcl-sub-guide-a {
    color: #fff;
    @include font-size(14);
  }
  .sp-site-nav-artcl-sub-info-a {
    background-color: $INFO_COLOR;
  }
  .sp-site-nav-artcl-sub-goods-a {
    background-color: $GOODS_COLOR;
  }
  .sp-site-nav-artcl-sub-ppl-a {
    background-color: $PPL_COLOR;
  }
  .sp-site-nav-artcl-sub-guide-a {
    background-color: $GUIDE_COLOR;
  }

  /* 2nd sub navigation */
  .sp-site-nav-sub02-i-a {
    @include box-sizing(border-box);
    -webkit-box-align: center;
    color: #42454e;
    @include font-size(12);
    display: -webkit-box;
    height: 42px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .sp-site-nav-artcl-sub-info-sub {
    .sp-site-nav-sub02-i {
      &+ .sp-site-nav-sub02-i {
        border-top: 1px solid $INFO_COLOR;
      }
    }
    .sp-site-nav-sub02-i-a {
      background-color: #eecdde;
      color: $INFO_COLOR;
    }
  }
  .sp-site-nav-artcl-sub-goods-sub {
    .sp-site-nav-sub02-i {
      &+ .sp-site-nav-sub02-i {
        border-top: 1px solid $GOODS_COLOR;
      }
    }
    .sp-site-nav-sub02-i-a {
      background-color: #ede2cc;
      color: $GOODS_COLOR;
    }
  }
  .sp-site-nav-artcl-sub-ppl-sub {
    .sp-site-nav-sub02-i {
      &+ .sp-site-nav-sub02-i {
        border-top: 1px solid #1d5378;
      }
    }
    .sp-site-nav-sub02-i-a {
      background-color: #ccdfed;
      color: $PPL_COLOR;
    }
  }
  .sp-site-nav-artcl-sub-guide-sub {
    .sp-site-nav-sub02-i {
      &+ .sp-site-nav-sub02-i {
        border-top: 1px solid #326933;
      }
    }
    .sp-site-nav-sub02-i-a {
      background-color: #ccedcd;
      color: $GUIDE_COLOR;
    }
  }

}

/*
 Global Navigation(PC)
---------------------------------------------------------------------------*/

@media #{$pc} {
  .site-nav {
    border-bottom: 2px solid $BASE_BD_COLOR;
    /*display: inherit;*/
    height: 50px;
    margin: 43px auto 24px;
    position: relative;
    width: 960px;
    z-index: 10;

    &.has-pos {
      top: 202px;
      left: 50%;
      margin: 0 0 0 -480px;
      position: absolute;
    }
  }

  .site-nav-inner {

  }

  .site-nav-i {
    float: left;
    border-bottom: 2px solid transparent; /* @NOTE for opening sub nav */
    overflow: hidden;
    position: relative;

    &.is-hover {
      overflow: visible;
    }
  }

  .site-nav-abt-a { @include sprite-bg($pc-gnav-sprites,'gnav_about',true,1); }
  .site-nav-artcl-a { @include sprite-bg($pc-gnav-sprites,'gnav_article',true,1); }
  .site-nav-txtl-a { @include sprite-bg($pc-gnav-sprites,'gnav_textile',true,1); }
  .site-nav-gllry-a { @include sprite-bg($pc-gnav-sprites,'gnav_gallery',true,1); }
  .site-nav-shwrm-a { @include sprite-bg($pc-gnav-sprites,'gnav_showroom',true,1); }
  .site-nav-las-a { @include sprite-bg($pc-gnav-sprites,'gnav_lease',true,1); }
  .site-nav-lnk-a { @include sprite-bg($pc-gnav-sprites,'gnav_link',true,1); }

  .site-nav-sub {
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    opacity: 0;
    width: 241px;
    position: absolute;
    top: 50px;
    left: 0;

    &.is-open {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .site-nav-sub-i {
    overflow: hidden;
    border-top: 1px solid rgba(66,69,78,0.3);
    -webkit-box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
    box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
    &.is-hover {
      overflow: visible;
    }
  }

  .site-nav-sub-i.sprite-gnav {
    @include sprite-bg($pc-gnav-sprites,'gnav_sub_i_bg',false,1);
    position: relative;
  }

  /* article > nav */
  .site-nav-artcl-sub-info-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_info',true,1); }
  .site-nav-artcl-sub-goods-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_goods',true,1); }
  .site-nav-artcl-sub-ppl-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_people',true,1); }
  .site-nav-artcl-sub-guide-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_guide',true,1); }

  .site-nav-sub02 {
    opacity: 0;
    left: 100%;
    position: absolute;
    top: -1px;
    width: 241px;

    &.is-open {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
  .site-nav-sub02-i {
    @include sprite-bg($pc-gnav-sprites,'gnav_sub_i_bg',false,1);
    position: relative;
    border-top: 1px solid rgba(66,69,78,0.3);
    -webkit-box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
    box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
  }

  /* info-sub-i0 */
  @for $i from 1 through 7 {
    .site-nav-artcl-sub-info-sub-i#{$i}-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_info_0#{$i}',true,1); }
  }
  /* info-sub-i1 */
  @for $i from 1 through 6 {
    .site-nav-artcl-sub-goods-sub-i#{$i}-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_goods_0#{$i}',true,1); }
  }
  /* info-sub-i2 */
  @for $i from 1 through 2 {
    .site-nav-artcl-sub-ppl-sub-i#{$i}-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_people_0#{$i}',true,1); }
  }
  /* info-sub-i3 */
  @for $i from 1 through 3 {
    .site-nav-artcl-sub-guide-sub-i#{$i}-a { @include sprite-bg($pc-gnav-sprites,'gnav_article_guide_0#{$i}',true,1); }
  }

  .site-nav-mm {
    opacity: 0;
    background-image: image-url('base/bg.png');
    -webkit-box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
    box-shadow: 0px 1px 1px rgba(66,69,78,0.3);
    position: absolute;
    padding: 35px;
    top: 52px;
    width: 960px;
    z-index: 10;
    @include box-sizing(border-box);

    &.is-open {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
  .site-nav-mm-inner {
    + .site-nav-mm-inner {
      margin-top: 35px;
    }
  }
  .site-nav-mm-i {
    float: left;

    + .site-nav-mm-i {
      margin-left: 35px;
    }
  }

  .site-nav-gllry-mm {
    left: -424px;
  }
  @for $i from 0 through 8 {
    .site-nav-gllry-mm-i#{$i}-a { @include sprite-bg($pc-gnav-sprites,'gnav_gallery_0#{$i}',true,1); }
  }
}
@media #{$sp} {
  .site-nav {
    display: none;
  }
}