@charset "UTF-8";

/*
 Header
---------------------------------------------------------------------------*/

.site-header {
  background-color: #42454e;
}
.site-header-inner {
  position: relative;
}
.site-header-misc {
  height: 14px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
}
.site-header-shares {
  float: left;
  line-height: 1;
}
.site-header-search {
  float: right;
}
.site-header-search-btn {
  cursor: pointer;
  vertical-align: middle;
}

@media only screen and #{$pc} {
  .site-header {
  }
  .site-header-inner {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: $PC_BASE_WIDTH;
  }
  .site-header-h-main {
    display: inline-block;
    width: 129px;
    vertical-align: middle;
  }
  .site-header-h-sub {
    color: #fff;
    display:inline-block;
    line-height: 1.1;
    margin-left: 12px;
  }
  .site-header-h-sub-t1 {
    @include font-size(11);
    vertical-align: bottom;
  }
  .site-header-h-sub-t2 {
    @include font-size(14);
    margin-left: 20px;
    vertical-align: bottom;
  }
  .site-header-shares-icon {
    + .site-header-shares-icon {
      margin-left: 12px;
    }
  }
  .site-header-search {
    margin-top: -3px;
    margin-left: 18px;
  }
  .site-header-search-txt {
    @include appearance(none);
    background-color: transparent;
    border: none;
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
    width: 100px;
  }
  .site-header-search-btn {
  }
}

@media only screen and #{$sp} {
  .site-header-inner {
    height: 41px;
  }
  .site-header-h {
    display: none;
  }
  .site-header-shares {
  }
  .site-header-shares-icon {
    + .site-header-shares-icon {
      margin-left: 15px;
    }
  }
  .site-header-search-txt {
    display: none;
  }
  .site-header-search-btn {
    margin-left: 15px;
  }

  .site-nav-trigger {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -13px;
    @include sprite-bg($base-sprites,'nav_trigger');
  }
}
