/*
 Global Variable
---------------------------------------------------------------------------*/

$PC_BASE_WIDTH: 960px;

$BASE_LINE_HEIGHT: 1.4286;

$BASE_TXT_COLOR: #42454e;
$BASE_BD_COLOR: #42454e;

$INFO_COLOR: #792551;
$GOODS_COLOR: #77581c;
$PPL_COLOR: #2a6188;
$GUIDE_COLOR: #49704a;

/*-------------------------------------------------------------------------
  support vendor prefix (compass origin)
---------------------------------------------------------------------------*/

$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-webkit: true;

/*-------------------------------------------------------------------------
  support vendor prefix
---------------------------------------------------------------------------*/

$support-mozilla: $experimental-support-for-mozilla;
$support-opera: $experimental-support-for-opera;
$support-ms: $experimental-support-for-microsoft;
$support-webkit: $experimental-support-for-webkit;
$support-default: true;

/*-------------------------------------------------------------------------
  Sprites
---------------------------------------------------------------------------*/

//sprites
$sprites-spacing: 0;

$base-sprites: sprite-map("sprite/sp/base/*.png", $spacing: 2, $layout: vertical);
$base-sprites-img: sprite-url($base-sprites);

$pc-base-sprites: sprite-map("sprite/pc/base/*.png", $spacing: 0, $layout: smart);
$pc-base-sprites-img: sprite-url($pc-base-sprites);

$pc-gnav-sprites: sprite-map("sprite/pc/gnav/*.png", $spacing: 0, $layout: smart);
$pc-gnav-sprites-img: sprite-url($pc-gnav-sprites);

/*-------------------------------------------------------------------------
  Breakpoint
---------------------------------------------------------------------------*/
/*
[NOTE]タブレットも必要になったら以下を採用する
$pc: "(min-width: 960px)";
$tab: "(min-width: 641px) and (max-width: 959px)";
$sp: "(max-width: 640px)";
*/
$pc: "(min-width: 768px)";
$sp: "(max-width: 767px)";
