@charset "UTF-8";

/*-------------------------------------------------------------------------
Sprite
---------------------------------------------------------------------------*/

.sprite-base {
  display: inline-block;
  overflow: hidden;
}

@media only screen and #{$sp} {
  .sprite-base {
    @include sprite-base-bg($base-sprites, $base-sprites-img);
  }
}

@media only screen and #{$pc} {
  .sprite-base {
    @include sprite-base-bg($pc-base-sprites, $pc-base-sprites-img, 1);
  }
  .sprite-gnav {
    @include sprite-base-bg($pc-gnav-sprites, $pc-gnav-sprites-img, 1);
    display: block;
    overflow: hidden;
  }
}